.header-default {
  background-color: rgb(76, 175, 241);
  border-bottom: 2px solid rgb(26, 24, 24);
      
}
.link-home {
  border: 2px solid rgb(81, 86, 94);
  background-color: rgb(174, 205, 240);
  padding: 5px;
  display: inline-block;
  box-align: ;
  margin: 4px;  
  border-radius: 4px; 
  color: rgb(25, 27, 134); 
}

a {
  text-decoration: none;
  font-family: Arial;
}
body {
  margin: 0px;
}